# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
crash.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Ignore Terraform secrets
env/dev.tfvars
terraform.tfvars
